In [1]:
import polars as pl

# Testing text_data.py

In [2]:
from text_data import transform_text_data

In [3]:
line1 = "She told me that she likes hiking."
line2 = "He told me that he doesn't like me."

In [4]:
df = pl.from_records([[line1, line2], ["A", "B"]], schema=["text_col", "category"]).with_columns([
    pl.lit(1).alias("Whatever Value")
])
df

shape: (2, 3)
┌─────────────────────────────────────┬──────────┬────────────────┐
│ text_col                            ┆ category ┆ Whatever Value │
│ ---                                 ┆ ---      ┆ ---            │
│ str                                 ┆ str      ┆ i32            │
╞═════════════════════════════════════╪══════════╪════════════════╡
│ She told me that she likes hikin... ┆ A        ┆ 1              │
│ He told me that he doesn't like ... ┆ B        ┆ 1              │
└─────────────────────────────────────┴──────────┴────────────────┘

In [5]:
df_transformed, reverse_memo = transform_text_data(df, one_hot_cols=["category"], text_cols=["text_col"], min_df=0, max_df=1)

Performing one-hot encoding and basic cleaning...
Perfoming stemming...
Performing Count vectorization for text_col...

In [6]:
df_transformed

shape: (2, 5)
┌────────────────┬─────────────┬─────────────┬────────────────────────┬──────────────────────┐
│ Whatever Value ┆ category::A ┆ category::B ┆ text_col::word::doesnt ┆ text_col::word::hike │
│ ---            ┆ ---         ┆ ---         ┆ ---                    ┆ ---                  │
│ i32            ┆ u8          ┆ u8          ┆ i64                    ┆ i64                  │
╞════════════════╪═════════════╪═════════════╪════════════════════════╪══════════════════════╡
│ 1              ┆ 1           ┆ 0           ┆ 0                      ┆ 1                    │
│ 1              ┆ 0           ┆ 1           ┆ 1                      ┆ 0                    │
└────────────────┴─────────────┴─────────────┴────────────────────────┴──────────────────────┘

In [7]:
reverse_memo

{'she': ['she'],
 'told': ['told'],
 'me': ['me'],
 'that': ['that'],
 'like': ['likes', 'like'],
 'hike': ['hiking'],
 'he': ['he'],
 'doesnt': ['doesnt']}

# Test eda.py

In [8]:
from eda import information_gain

In [9]:
df = pl.read_csv("./data/advertising.csv").with_columns([
    ((pl.col("Age") // 10) * 10).alias("Age Band"),
    (pl.col("Daily Internet Usage") // 20).alias("Daily Internet Usage Band"),
    (pl.col("Area Income") // 5000).alias("Area Income Band")
])
df.head()

shape: (5, 13)
┌────────────┬─────┬───────────┬────────────┬─────┬────────────┬──────────┬────────────┬────────────┐
│ Daily Time ┆ Age ┆ Area      ┆ Daily      ┆ ... ┆ Clicked on ┆ Age Band ┆ Daily      ┆ Area       │
│ Spent on   ┆ --- ┆ Income    ┆ Internet   ┆     ┆ Ad         ┆ ---      ┆ Internet   ┆ Income     │
│ Site       ┆ i64 ┆ ---       ┆ Usage      ┆     ┆ ---        ┆ i64      ┆ Usage Band ┆ Band       │
│ ---        ┆     ┆ f64       ┆ ---        ┆     ┆ i64        ┆          ┆ ---        ┆ ---        │
│ f64        ┆     ┆           ┆ f64        ┆     ┆            ┆          ┆ f64        ┆ f64        │
╞════════════╪═════╪═══════════╪════════════╪═════╪════════════╪══════════╪════════════╪════════════╡
│ 68.95      ┆ 35  ┆ 61833.9   ┆ 256.09     ┆ ... ┆ 0          ┆ 30       ┆ 12.0       ┆ 12.0       │
│ 80.23      ┆ 31  ┆ 68441.85  ┆ 193.77     ┆ ... ┆ 0          ┆ 30       ┆ 9.0        ┆ 13.0       │
│ 69.47      ┆ 26  ┆ 59785.94  ┆ 236.5      ┆ ... ┆ 0          ┆ 20       ┆ 11.0       ┆ 11.0       │
│ 74.15      ┆ 29  ┆ 54806.18  ┆ 245.89     ┆ ... ┆ 0          ┆ 20       ┆ 12.0       ┆ 10.0       │
│ 68.37      ┆ 35  ┆ 73889.99  ┆ 225.58     ┆ ... ┆ 0          ┆ 30       ┆ 11.0       ┆ 14.0       │
└────────────┴─────┴───────────┴────────────┴─────┴────────────┴──────────┴────────────┴────────────┘

In [10]:
df.select([
    pl.col(x).n_unique() for x in df.columns
])

shape: (1, 13)
┌────────────┬─────┬───────────┬────────────┬─────┬────────────┬──────────┬────────────┬────────────┐
│ Daily Time ┆ Age ┆ Area      ┆ Daily      ┆ ... ┆ Clicked on ┆ Age Band ┆ Daily      ┆ Area       │
│ Spent on   ┆ --- ┆ Income    ┆ Internet   ┆     ┆ Ad         ┆ ---      ┆ Internet   ┆ Income     │
│ Site       ┆ u32 ┆ ---       ┆ Usage      ┆     ┆ ---        ┆ u32      ┆ Usage Band ┆ Band       │
│ ---        ┆     ┆ u32       ┆ ---        ┆     ┆ u32        ┆          ┆ ---        ┆ ---        │
│ u32        ┆     ┆           ┆ u32        ┆     ┆            ┆          ┆ u32        ┆ u32        │
╞════════════╪═════╪═══════════╪════════════╪═════╪════════════╪══════════╪════════════╪════════════╡
│ 900        ┆ 43  ┆ 1000      ┆ 966        ┆ ... ┆ 2          ┆ 6        ┆ 9          ┆ 14         │
└────────────┴─────┴───────────┴────────────┴─────┴────────────┴──────────┴────────────┴────────────┘

In [11]:
cats = ["Age Band", "Male", "Country", "Area Income Band", "Daily Internet Usage Band"]
target = "Clicked on Ad"

In [12]:
information_gain(df, target, cat_cols=cats)

Finished processing for Age Band. 1/5
Finished processing for Male. 2/5
Finished processing for Country. 3/5
Finished processing for Area Income Band. 4/5
Finished processing for Daily Internet Usage Band. 5/5

shape: (5, 4)
┌───────────────────────────┬─────────────────────┬────────────────┬──────────────────┐
│ Predictive Variable       ┆ Conditional Entropy ┆ Target Entropy ┆ Information Gain │
│ ---                       ┆ ---                 ┆ ---            ┆ ---              │
│ str                       ┆ f64                 ┆ f64            ┆ f64              │
╞═══════════════════════════╪═════════════════════╪════════════════╪══════════════════╡
│ Age Band                  ┆ 0.569156            ┆ 0.693147       ┆ 0.123991         │
│ Male                      ┆ 0.692424            ┆ 0.693147       ┆ 0.000723         │
│ Country                   ┆ 0.558555            ┆ 0.693147       ┆ 0.134592         │
│ Daily Internet Usage Band ┆ 0.263754            ┆ 0.693147       ┆ 0.429394         │
│ Area Income Band          ┆ 0.551848            ┆ 0.693147       ┆ 0.141299         │
└───────────────────────────┴─────────────────────┴────────────────┴──────────────────┘