In [1]:
import polars as pl
import numpy as np 
# import pandas as pd 
from scipy.special import fdtrc
from typing import *

# Testing text_data.py

In [ ]:
from text_data import transform_text_data

In [ ]:
line1 = "She told me that she likes hiking."
line2 = "He told me that he doesn't like me."
line3 = "Hello World!"

In [ ]:
df = pl.from_records([[line1, line2, line3], ["A", "B", "C"]], schema=["text_col", "category"]).with_columns([
    pl.lit(1).alias("Whatever Value")
])
df

In [ ]:
df_transformed, reverse_memo = transform_text_data(df, text_cols=["text_col"], min_df=0, max_df=1)

In [ ]:
df_transformed

In [ ]:
reverse_memo

# Test Other EDA Methods (eda.py)

In [2]:
import polars as pl
from eda import information_gain, constant_removal, binary_transform, f_score, var_removal

In [3]:
df = pl.read_csv("./data/advertising.csv").with_columns([
    ((pl.col("Age") // 10) * 10).alias("Age Band"),
    (pl.col("Daily Internet Usage") // 20).alias("Daily Internet Usage Band"),
    (pl.col("Area Income") // 5000).alias("Area Income Band"),
    pl.when(pl.col("Male") == 0).then(0).otherwise(None).alias("Test")
])
df.head()

shape: (5, 14)
┌────────────┬─────┬─────────────┬────────────┬───┬──────────┬───────────────┬──────────────┬──────┐
│ Daily Time ┆ Age ┆ Area Income ┆ Daily      ┆ … ┆ Age Band ┆ Daily         ┆ Area Income  ┆ Test │
│ Spent on   ┆ --- ┆ ---         ┆ Internet   ┆   ┆ ---      ┆ Internet      ┆ Band         ┆ ---  │
│ Site       ┆ i64 ┆ f64         ┆ Usage      ┆   ┆ i64      ┆ Usage Band    ┆ ---          ┆ i32  │
│ ---        ┆     ┆             ┆ ---        ┆   ┆          ┆ ---           ┆ f64          ┆      │
│ f64        ┆     ┆             ┆ f64        ┆   ┆          ┆ f64           ┆              ┆      │
╞════════════╪═════╪═════════════╪════════════╪═══╪══════════╪═══════════════╪══════════════╪══════╡
│ 68.95      ┆ 35  ┆ 61833.9     ┆ 256.09     ┆ … ┆ 30       ┆ 12.0          ┆ 12.0         ┆ 0    │
│ 80.23      ┆ 31  ┆ 68441.85    ┆ 193.77     ┆ … ┆ 30       ┆ 9.0           ┆ 13.0         ┆ null │
│ 69.47      ┆ 26  ┆ 59785.94    ┆ 236.5      ┆ … ┆ 20       ┆ 11.0          ┆ 11.0         ┆ 0    │
│ 74.15      ┆ 29  ┆ 54806.18    ┆ 245.89     ┆ … ┆ 20       ┆ 12.0          ┆ 10.0         ┆ null │
│ 68.37      ┆ 35  ┆ 73889.99    ┆ 225.58     ┆ … ┆ 30       ┆ 11.0          ┆ 14.0         ┆ 0    │
└────────────┴─────┴─────────────┴────────────┴───┴──────────┴───────────────┴──────────────┴──────┘

In [4]:
df = var_removal(df, threshold=0.5, target="Clicked on Ad")

The following columns are dropped because they have lower than 0.5 variance. ['Male', 'Test']
Removed a total of 2 columns.

shape: (1_000, 12)
┌────────────┬─────┬───────────┬────────────┬───┬────────────┬──────────┬────────────┬────────────┐
│ Daily Time ┆ Age ┆ Area      ┆ Daily      ┆ … ┆ Clicked on ┆ Age Band ┆ Daily      ┆ Area       │
│ Spent on   ┆ --- ┆ Income    ┆ Internet   ┆   ┆ Ad         ┆ ---      ┆ Internet   ┆ Income     │
│ Site       ┆ i64 ┆ ---       ┆ Usage      ┆   ┆ ---        ┆ i64      ┆ Usage Band ┆ Band       │
│ ---        ┆     ┆ f64       ┆ ---        ┆   ┆ i64        ┆          ┆ ---        ┆ ---        │
│ f64        ┆     ┆           ┆ f64        ┆   ┆            ┆          ┆ f64        ┆ f64        │
╞════════════╪═════╪═══════════╪════════════╪═══╪════════════╪══════════╪════════════╪════════════╡
│ 68.95      ┆ 35  ┆ 61833.9   ┆ 256.09     ┆ … ┆ 0          ┆ 30       ┆ 12.0       ┆ 12.0       │
│ 80.23      ┆ 31  ┆ 68441.85  ┆ 193.77     ┆ … ┆ 0          ┆ 30       ┆ 9.0        ┆ 13.0       │
│ 69.47      ┆ 26  ┆ 59785.94  ┆ 236.5      ┆ … ┆ 0          ┆ 20       ┆ 11.0       ┆ 11.0       │
│ 74.15      ┆ 29  ┆ 54806.18  ┆ 245.89     ┆ … ┆ 0          ┆ 20       ┆ 12.0       ┆ 10.0       │
│ …          ┆ …   ┆ …         ┆ …          ┆ … ┆ …          ┆ …        ┆ …          ┆ …          │
│ 51.3       ┆ 45  ┆ 67782.17  ┆ 134.42     ┆ … ┆ 1          ┆ 40       ┆ 6.0        ┆ 13.0       │
│ 51.63      ┆ 51  ┆ 42415.72  ┆ 120.37     ┆ … ┆ 1          ┆ 50       ┆ 6.0        ┆ 8.0        │
│ 55.55      ┆ 19  ┆ 41920.79  ┆ 187.95     ┆ … ┆ 0          ┆ 10       ┆ 9.0        ┆ 8.0        │
│ 45.01      ┆ 26  ┆ 29875.8   ┆ 178.35     ┆ … ┆ 1          ┆ 20       ┆ 8.0        ┆ 5.0        │
└────────────┴─────┴───────────┴────────────┴───┴────────────┴──────────┴────────────┴────────────┘

In [ ]:
df = constant_removal(df)

In [ ]:
df, table = binary_transform(df)
df

In [ ]:
# This is obviously redundant transformation
# So we may set exclude = ["Male", "Clicked on Ad"]
table

In [ ]:
cats = ["Age Band", "Male", "Country", "Area Income Band", "Daily Internet Usage Band"]
target = "Clicked on Ad"

In [ ]:
information_gain(df, target, cat_cols=cats)

In [ ]:
f_score(df, target=target)

In [ ]:
# target = "Clicked on Ad"
nums = []
for c,t in zip(df.columns, df.dtypes):
    if t != pl.Utf8 and t != pl.Struct and c != target:
        nums.append(c)

nums

In [ ]:
from sklearn.feature_selection import f_classif
 
f, pv = f_classif(df[nums], df[target])
pl.from_records([nums, f, pv], schema=["feature", "f_score", "p_value"])

In [ ]:
df_test = pl.concat([df.clone()] * 100)
df_test.shape

In [ ]:
%%timeit 
f_score(df_test, target="Clicked on Ad", num_cols=nums)

In [ ]:
%%timeit 
f, pv = f_classif(df_test[nums], df_test[target])
pl.from_records([nums, f, pv], schema=["feature", "f_score", "p_value"])