In [1]:
import polars as pl
import numpy as np 
# import pandas as pd 
# from scipy.special import fdtrc
from typing import *

# Testing text_data.py

In [2]:
from text_data import transform_text_data

In [3]:
line1 = "She told me that she likes hiking."
line2 = "He told me that he doesn't like me."
line3 = "Hello World!"

In [4]:
df = pl.from_records([[line1, line2, line3], ["A", "B", "C"]], schema=["text_col", "category"]).with_columns([
    pl.lit(1).alias("Whatever Value")
])
df

shape: (3, 3)
┌───────────────────────────────────┬──────────┬────────────────┐
│ text_col                          ┆ category ┆ Whatever Value │
│ ---                               ┆ ---      ┆ ---            │
│ str                               ┆ str      ┆ i32            │
╞═══════════════════════════════════╪══════════╪════════════════╡
│ She told me that she likes hikin… ┆ A        ┆ 1              │
│ He told me that he doesn't like … ┆ B        ┆ 1              │
│ Hello World!                      ┆ C        ┆ 1              │
└───────────────────────────────────┴──────────┴────────────────┘

In [5]:
df_transformed, reverse_memo = transform_text_data(df, text_cols=["text_col"], min_df=0, max_df=1)

Perfoming stemming...
Performing Count vectorization for text_col...

In [6]:
df_transformed

shape: (3, 6)
┌──────────┬────────────────┬─────────────────┬─────────────────┬─────────────────┬────────────────┐
│ category ┆ Whatever Value ┆ text_col::word: ┆ text_col::word: ┆ text_col::word: ┆ text_col::word │
│ ---      ┆ ---            ┆ :doesnt         ┆ :hello          ┆ :hike           ┆ ::world        │
│ str      ┆ i32            ┆ ---             ┆ ---             ┆ ---             ┆ ---            │
│          ┆                ┆ i64             ┆ i64             ┆ i64             ┆ i64            │
╞══════════╪════════════════╪═════════════════╪═════════════════╪═════════════════╪════════════════╡
│ A        ┆ 1              ┆ 0               ┆ 0               ┆ 1               ┆ 0              │
│ B        ┆ 1              ┆ 1               ┆ 0               ┆ 0               ┆ 0              │
│ C        ┆ 1              ┆ 0               ┆ 1               ┆ 0               ┆ 1              │
└──────────┴────────────────┴─────────────────┴─────────────────┴─────────────────┴────────────────┘

In [7]:
reverse_memo

{'she': ['she'],
 'told': ['told'],
 'me': ['me'],
 'that': ['that'],
 'like': ['likes', 'like'],
 'hike': ['hiking'],
 'he': ['he'],
 'doesnt': ['doesnt'],
 'hello': ['hello'],
 'world': ['world']}

# Test Other EDA Methods (eda.py)

In [8]:
import polars as pl
from eda import describe, information_gain, constant_removal, binary_transform, f_score, var_removal, get_numeric_cols, percentile_binning

In [9]:
df = pl.read_csv("./data/advertising.csv").with_columns([
    ((pl.col("Age") // 10) * 10).alias("Age Band"),
    (pl.col("Daily Internet Usage") // 20).alias("Daily Internet Usage Band"),
    (pl.col("Area Income") // 5000).alias("Area Income Band"),
    pl.lit(1).alias("Test_Constant"),
    pl.when(pl.col("Male") == 0).then(0).otherwise(None).alias("Test_BadColumn"),
    pl.when(pl.col("Male") == 0).then("A").otherwise("B").alias("Test_Binary"),
])
target = "Clicked on Ad"
df.head()

shape: (5, 16)
┌────────────┬─────┬───────────┬────────────┬───┬────────────┬────────────┬────────────┬───────────┐
│ Daily Time ┆ Age ┆ Area      ┆ Daily      ┆ … ┆ Area       ┆ Test_Const ┆ Test_BadCo ┆ Test_Bina │
│ Spent on   ┆ --- ┆ Income    ┆ Internet   ┆   ┆ Income     ┆ ant        ┆ lumn       ┆ ry        │
│ Site       ┆ i64 ┆ ---       ┆ Usage      ┆   ┆ Band       ┆ ---        ┆ ---        ┆ ---       │
│ ---        ┆     ┆ f64       ┆ ---        ┆   ┆ ---        ┆ i32        ┆ i32        ┆ str       │
│ f64        ┆     ┆           ┆ f64        ┆   ┆ f64        ┆            ┆            ┆           │
╞════════════╪═════╪═══════════╪════════════╪═══╪════════════╪════════════╪════════════╪═══════════╡
│ 68.95      ┆ 35  ┆ 61833.9   ┆ 256.09     ┆ … ┆ 12.0       ┆ 1          ┆ 0          ┆ A         │
│ 80.23      ┆ 31  ┆ 68441.85  ┆ 193.77     ┆ … ┆ 13.0       ┆ 1          ┆ null       ┆ B         │
│ 69.47      ┆ 26  ┆ 59785.94  ┆ 236.5      ┆ … ┆ 11.0       ┆ 1          ┆ 0          ┆ A         │
│ 74.15      ┆ 29  ┆ 54806.18  ┆ 245.89     ┆ … ┆ 10.0       ┆ 1          ┆ null       ┆ B         │
│ 68.37      ┆ 35  ┆ 73889.99  ┆ 225.58     ┆ … ┆ 14.0       ┆ 1          ┆ 0          ┆ A         │
└────────────┴─────┴───────────┴────────────┴───┴────────────┴────────────┴────────────┴───────────┘

In [11]:
describe(df)

shape: (16, 12)
┌───────────────────┬────────┬────────────┬──────────┬───┬─────────┬─────────┬──────────┬──────────┐
│ column            ┆ count  ┆ null_count ┆ null_pct ┆ … ┆ max     ┆ median  ┆ 25%      ┆ 75%      │
│ ---               ┆ ---    ┆ ---        ┆ ---      ┆   ┆ ---     ┆ ---     ┆ ---      ┆ ---      │
│ str               ┆ f64    ┆ f64        ┆ f64      ┆   ┆ str     ┆ f64     ┆ f64      ┆ f64      │
╞═══════════════════╪════════╪════════════╪══════════╪═══╪═════════╪═════════╪══════════╪══════════╡
│ Daily Time Spent  ┆ 1000.0 ┆ 0.0        ┆ 0.0      ┆ … ┆ 91.43   ┆ 68.215  ┆ 51.38    ┆ 78.57    │
│ on Site           ┆        ┆            ┆          ┆   ┆         ┆         ┆          ┆          │
│ Age               ┆ 1000.0 ┆ 0.0        ┆ 0.0      ┆ … ┆ 61.0    ┆ 35.0    ┆ 29.0     ┆ 42.0     │
│ Area Income       ┆ 1000.0 ┆ 0.0        ┆ 0.0      ┆ … ┆ 79484.8 ┆ 57012.3 ┆ 47051.02 ┆ 65496.78 │
│ Daily Internet    ┆ 1000.0 ┆ 0.0        ┆ 0.0      ┆ … ┆ 269.96  ┆ 183.13  ┆ 138.87   ┆ 218.8    │
│ Usage             ┆        ┆            ┆          ┆   ┆         ┆         ┆          ┆          │
│ …                 ┆ …      ┆ …          ┆ …        ┆ … ┆ …       ┆ …       ┆ …        ┆ …        │
│ Area Income Band  ┆ 1000.0 ┆ 0.0        ┆ 0.0      ┆ … ┆ 15.0    ┆ 11.0    ┆ 9.0      ┆ 13.0     │
│ Test_Constant     ┆ 1000.0 ┆ 0.0        ┆ 0.0      ┆ … ┆ 1.0     ┆ 1.0     ┆ 1.0      ┆ 1.0      │
│ Test_BadColumn    ┆ 1000.0 ┆ 481.0      ┆ 0.481    ┆ … ┆ 0.0     ┆ 0.0     ┆ 0.0      ┆ 0.0      │
│ Test_Binary       ┆ 1000.0 ┆ 0.0        ┆ 0.0      ┆ … ┆ B       ┆ null    ┆ null     ┆ null     │
└───────────────────┴────────┴────────────┴──────────┴───┴─────────┴─────────┴──────────┴──────────┘

In [ ]:
df.select(
    (pl.col(c).n_unique().alias(c+"_unique_count") for c in df.columns)
).to_numpy().ravel()

In [ ]:
df = var_removal(df, threshold=0.5, target=target)

In [ ]:
df = constant_removal(df)

In [ ]:
df, table = binary_transform(df, exclude = [target])
df

In [ ]:
# Some of these are numerical columns, but we can still treat them as categorical columns
# and feed them into the information gain algorithm.
cats = ["Age Band", "Country", "Area Income Band", "Daily Internet Usage Band", "Test_Binary"]
target = "Clicked on Ad"

In [ ]:
information_gain(df, target, cat_cols=cats)

In [ ]:
# If nothing is given, automatically infers string columns as categorical columns.
information_gain(df, target)

In [ ]:
df["Ad Topic Line"].unique()

In [ ]:
f_score(df, target=target)

In [ ]:
nums = get_numeric_cols(df, exclude=[target])
nums

In [ ]:
from sklearn.feature_selection import f_classif
 
f, pv = f_classif(df[nums], df[target])
pl.from_records([nums, f, pv], schema=["feature", "f_score", "p_value"])

In [ ]:
df_test = pl.concat([df.clone()] * 100)
df_test.shape

In [ ]:
%%timeit 
f_score(df_test, target="Clicked on Ad", num_cols=nums)

In [ ]:
%%timeit 
f, pv = f_classif(df_test[nums], df_test[target])
pl.from_records([nums, f, pv], schema=["feature", "f_score", "p_value"])

In [ ]:
transformed_df, ref = percentile_binning(df, num_cols=nums, exclude=[target])

In [ ]:
transformed_df

In [ ]:
ref.filter(pl.col("feature") == "Age")