In [14]:
import polars as pl
import pandas as pd

# Testing text_data.py

In [2]:
from text_data import transform_text_data

In [3]:
line1 = "She told me that she likes hiking."
line2 = "He told me that he doesn't like me."
line3 = "Hello World!"

In [4]:
df = pl.from_records([[line1, line2, line3], ["A", "B", "C"]], schema=["text_col", "category"]).with_columns([
    pl.lit(1).alias("Whatever Value")
])
df

shape: (3, 3)
┌───────────────────────────────────┬──────────┬────────────────┐
│ text_col                          ┆ category ┆ Whatever Value │
│ ---                               ┆ ---      ┆ ---            │
│ str                               ┆ str      ┆ i32            │
╞═══════════════════════════════════╪══════════╪════════════════╡
│ She told me that she likes hikin… ┆ A        ┆ 1              │
│ He told me that he doesn't like … ┆ B        ┆ 1              │
│ Hello World!                      ┆ C        ┆ 1              │
└───────────────────────────────────┴──────────┴────────────────┘

In [5]:
df_transformed, reverse_memo = transform_text_data(df, text_cols=["text_col"], min_df=0, max_df=1)

Perfoming stemming...
Performing Count vectorization for text_col...

In [6]:
df_transformed

shape: (3, 6)
┌──────────┬────────────────┬─────────────────┬─────────────────┬─────────────────┬────────────────┐
│ category ┆ Whatever Value ┆ text_col::word: ┆ text_col::word: ┆ text_col::word: ┆ text_col::word │
│ ---      ┆ ---            ┆ :doesnt         ┆ :hello          ┆ :hike           ┆ ::world        │
│ str      ┆ i32            ┆ ---             ┆ ---             ┆ ---             ┆ ---            │
│          ┆                ┆ i64             ┆ i64             ┆ i64             ┆ i64            │
╞══════════╪════════════════╪═════════════════╪═════════════════╪═════════════════╪════════════════╡
│ A        ┆ 1              ┆ 0               ┆ 0               ┆ 1               ┆ 0              │
│ B        ┆ 1              ┆ 1               ┆ 0               ┆ 0               ┆ 0              │
│ C        ┆ 1              ┆ 0               ┆ 1               ┆ 0               ┆ 1              │
└──────────┴────────────────┴─────────────────┴─────────────────┴─────────────────┴────────────────┘

In [7]:
reverse_memo

{'she': ['she'],
 'told': ['told'],
 'me': ['me'],
 'that': ['that'],
 'like': ['likes', 'like'],
 'hike': ['hiking'],
 'he': ['he'],
 'doesnt': ['doesnt'],
 'hello': ['hello'],
 'world': ['world']}

# Test eda.py

In [8]:
from eda import information_gain, constant_removal, binary_transform

In [15]:
df = pl.read_csv("./data/advertising.csv").with_columns([
    pl.when(pl.col("Male") == 0).then(0).otherwise(None).alias("Test")
])
df.head()

shape: (5, 11)
┌────────────┬─────┬──────────────┬────────────┬───┬────────────┬──────────────┬────────────┬──────┐
│ Daily Time ┆ Age ┆ Area Income  ┆ Daily      ┆ … ┆ Country    ┆ Timestamp    ┆ Clicked on ┆ Test │
│ Spent on   ┆ --- ┆ ---          ┆ Internet   ┆   ┆ ---        ┆ ---          ┆ Ad         ┆ ---  │
│ Site       ┆ i64 ┆ f64          ┆ Usage      ┆   ┆ str        ┆ str          ┆ ---        ┆ i32  │
│ ---        ┆     ┆              ┆ ---        ┆   ┆            ┆              ┆ i64        ┆      │
│ f64        ┆     ┆              ┆ f64        ┆   ┆            ┆              ┆            ┆      │
╞════════════╪═════╪══════════════╪════════════╪═══╪════════════╪══════════════╪════════════╪══════╡
│ 68.95      ┆ 35  ┆ 61833.9      ┆ 256.09     ┆ … ┆ Tunisia    ┆ 2016-03-27   ┆ 0          ┆ 0    │
│            ┆     ┆              ┆            ┆   ┆            ┆ 00:53:11     ┆            ┆      │
│ 80.23      ┆ 31  ┆ 68441.85     ┆ 193.77     ┆ … ┆ Nauru      ┆ 2016-04-04   ┆ 0          ┆ null │
│            ┆     ┆              ┆            ┆   ┆            ┆ 01:39:02     ┆            ┆      │
│ 69.47      ┆ 26  ┆ 59785.94     ┆ 236.5      ┆ … ┆ San Marino ┆ 2016-03-13   ┆ 0          ┆ 0    │
│            ┆     ┆              ┆            ┆   ┆            ┆ 20:35:42     ┆            ┆      │
│ 74.15      ┆ 29  ┆ 54806.18     ┆ 245.89     ┆ … ┆ Italy      ┆ 2016-01-10   ┆ 0          ┆ null │
│            ┆     ┆              ┆            ┆   ┆            ┆ 02:31:19     ┆            ┆      │
│ 68.37      ┆ 35  ┆ 73889.99     ┆ 225.58     ┆ … ┆ Iceland    ┆ 2016-06-03   ┆ 0          ┆ 0    │
│            ┆     ┆              ┆            ┆   ┆            ┆ 03:36:18     ┆            ┆      │
└────────────┴─────┴──────────────┴────────────┴───┴────────────┴──────────────┴────────────┴──────┘

In [10]:
df = constant_removal(df)

The following columns are dropped because they are constants. ['Test'].
Removed a total of 1 columns.

In [12]:
df, table = binary_transform(df)
df

shape: (1_000, 10)
┌────────────┬─────┬───────────┬────────────┬───┬──────┬───────────────┬──────────────┬────────────┐
│ Daily Time ┆ Age ┆ Area      ┆ Daily      ┆ … ┆ Male ┆ Country       ┆ Timestamp    ┆ Clicked on │
│ Spent on   ┆ --- ┆ Income    ┆ Internet   ┆   ┆ ---  ┆ ---           ┆ ---          ┆ Ad         │
│ Site       ┆ i64 ┆ ---       ┆ Usage      ┆   ┆ i32  ┆ str           ┆ str          ┆ ---        │
│ ---        ┆     ┆ f64       ┆ ---        ┆   ┆      ┆               ┆              ┆ i32        │
│ f64        ┆     ┆           ┆ f64        ┆   ┆      ┆               ┆              ┆            │
╞════════════╪═════╪═══════════╪════════════╪═══╪══════╪═══════════════╪══════════════╪════════════╡
│ 68.95      ┆ 35  ┆ 61833.9   ┆ 256.09     ┆ … ┆ 0    ┆ Tunisia       ┆ 2016-03-27   ┆ 0          │
│            ┆     ┆           ┆            ┆   ┆      ┆               ┆ 00:53:11     ┆            │
│ 80.23      ┆ 31  ┆ 68441.85  ┆ 193.77     ┆ … ┆ 1    ┆ Nauru         ┆ 2016-04-04   ┆ 0          │
│            ┆     ┆           ┆            ┆   ┆      ┆               ┆ 01:39:02     ┆            │
│ 69.47      ┆ 26  ┆ 59785.94  ┆ 236.5      ┆ … ┆ 0    ┆ San Marino    ┆ 2016-03-13   ┆ 0          │
│            ┆     ┆           ┆            ┆   ┆      ┆               ┆ 20:35:42     ┆            │
│ 74.15      ┆ 29  ┆ 54806.18  ┆ 245.89     ┆ … ┆ 1    ┆ Italy         ┆ 2016-01-10   ┆ 0          │
│            ┆     ┆           ┆            ┆   ┆      ┆               ┆ 02:31:19     ┆            │
│ …          ┆ …   ┆ …         ┆ …          ┆ … ┆ …    ┆ …             ┆ …            ┆ …          │
│ 51.3       ┆ 45  ┆ 67782.17  ┆ 134.42     ┆ … ┆ 1    ┆ Bosnia and    ┆ 2016-04-22   ┆ 1          │
│            ┆     ┆           ┆            ┆   ┆      ┆ Herzegovina   ┆ 02:07:01     ┆            │
│ 51.63      ┆ 51  ┆ 42415.72  ┆ 120.37     ┆ … ┆ 1    ┆ Mongolia      ┆ 2016-02-01   ┆ 1          │
│            ┆     ┆           ┆            ┆   ┆      ┆               ┆ 17:24:57     ┆            │
│ 55.55      ┆ 19  ┆ 41920.79  ┆ 187.95     ┆ … ┆ 0    ┆ Guatemala     ┆ 2016-03-24   ┆ 0          │
│            ┆     ┆           ┆            ┆   ┆      ┆               ┆ 02:35:54     ┆            │
│ 45.01      ┆ 26  ┆ 29875.8   ┆ 178.35     ┆ … ┆ 0    ┆ Brazil        ┆ 2016-06-03   ┆ 1          │
│            ┆     ┆           ┆            ┆   ┆      ┆               ┆ 21:43:21     ┆            │
└────────────┴─────┴───────────┴────────────┴───┴──────┴───────────────┴──────────────┴────────────┘

In [13]:
# This is obviously redundant transformation
# So we may put set exclude = ["Male", "Clicked on Ad"]
table

shape: (2, 4)
┌───────────────┬──────┬──────┬─────────┐
│ feature       ┆ to_0 ┆ to_1 ┆ dtype   │
│ ---           ┆ ---  ┆ ---  ┆ ---     │
│ str           ┆ str  ┆ str  ┆ str     │
╞═══════════════╪══════╪══════╪═════════╡
│ Male          ┆ 0    ┆ 1    ┆ numeric │
│ Clicked on Ad ┆ 0    ┆ 1    ┆ numeric │
└───────────────┴──────┴──────┴─────────┘

In [ ]:
df = pl.read_csv("./data/advertising.csv").with_columns([
    ((pl.col("Age") // 10) * 10).alias("Age Band"),
    (pl.col("Daily Internet Usage") // 20).alias("Daily Internet Usage Band"),
    (pl.col("Area Income") // 5000).alias("Area Income Band")
])
df.head()

In [ ]:
df.select([
    pl.col(x).n_unique() for x in df.columns
])

In [ ]:
cats = ["Age Band", "Male", "Country", "Area Income Band", "Daily Internet Usage Band"]
target = "Clicked on Ad"

In [ ]:
information_gain(df, target, cat_cols=cats)