In [1]:
import polars as pl

In [2]:
line1 = "She told me that she likes hiking."
line2 = "He told me that he doesn't like me."

In [3]:
df = pl.from_records([[line1, line2], ["A", "B"]], schema=["text_col", "category"]).with_columns([
    pl.lit(1).alias("Whatever Value")
])
df

shape: (2, 3)
┌─────────────────────────────────────┬──────────┬────────────────┐
│ text_col                            ┆ category ┆ Whatever Value │
│ ---                                 ┆ ---      ┆ ---            │
│ str                                 ┆ str      ┆ i32            │
╞═════════════════════════════════════╪══════════╪════════════════╡
│ She told me that she likes hikin... ┆ A        ┆ 1              │
│ He told me that he doesn't like ... ┆ B        ┆ 1              │
└─────────────────────────────────────┴──────────┴────────────────┘

In [4]:
from text_data import transform_text_data

In [5]:
df_transformed, reverse_memo = transform_text_data(df, one_hot_cols=["category"], text_cols=["text_col"])

Performing one-hot encoding and basic cleaning...
Perfoming stemming...
Performing Count vectorization for text_col...

In [6]:
df_transformed

shape: (2, 5)
┌────────────────┬─────────────┬─────────────┬────────────────────────┬──────────────────────┐
│ Whatever Value ┆ category::A ┆ category::B ┆ text_col::word::doesnt ┆ text_col::word::hike │
│ ---            ┆ ---         ┆ ---         ┆ ---                    ┆ ---                  │
│ i32            ┆ u8          ┆ u8          ┆ i64                    ┆ i64                  │
╞════════════════╪═════════════╪═════════════╪════════════════════════╪══════════════════════╡
│ 1              ┆ 1           ┆ 0           ┆ 0                      ┆ 1                    │
│ 1              ┆ 0           ┆ 1           ┆ 1                      ┆ 0                    │
└────────────────┴─────────────┴─────────────┴────────────────────────┴──────────────────────┘

In [7]:
reverse_memo

{'she': ['she'],
 'told': ['told'],
 'me': ['me'],
 'that': ['that'],
 'like': ['likes', 'like'],
 'hike': ['hiking'],
 'he': ['he'],
 'doesnt': ['doesnt']}

# More to come...

In [ ]:
#