In [ ]:
def multiple_by_2(x:int) -> int:
    return x * 2

In [ ]:
func = multiple_by_2

In [ ]:
func.__module__

In [ ]:
import sys
sys.path.append('../src')

In [ ]:
from eda.eda_selection import _f_score, mrmr, MRMR_STRATEGY

In [ ]:
_f_score.__module__

In [ ]:
func.__name__

In [1]:
import polars as pl 
import json

In [2]:
df = pl.DataFrame({
    "a":[{"test":1, "test2":2}, {"a":1, "df":2}]
})
df

shape: (2, 1)
┌─────────────┐
│ a           │
│ ---         │
│ struct[2]   │
╞═════════════╡
│ {1,2}       │
│ {null,null} │
└─────────────┘

In [1]:
a = {"a":1,"b":2}
a.keys()[1]

TypeError: 'dict_keys' object is not subscriptable

In [3]:
import polars as pl

In [7]:
pl.read_csv.__module__

'polars.io.csv.functions'

In [10]:
read_csv = getattr(__import__('polars.io.csv.functions'), "read_csv")

In [11]:
read_csv("../data/advertising.csv")

shape: (1_000, 11)
┌────────────┬─────┬───────────┬────────────┬───┬────────────┬───────────┬────────────┬────────────┐
│ Daily Time ┆ Age ┆ Area      ┆ Daily      ┆ … ┆ Country    ┆ Timestamp ┆ Clicked on ┆ One_Hot_Te │
│ Spent on   ┆ --- ┆ Income    ┆ Internet   ┆   ┆ ---        ┆ ---       ┆ Ad         ┆ st         │
│ Site       ┆ i64 ┆ ---       ┆ Usage      ┆   ┆ str        ┆ str       ┆ ---        ┆ ---        │
│ ---        ┆     ┆ f64       ┆ ---        ┆   ┆            ┆           ┆ i64        ┆ str        │
│ f64        ┆     ┆           ┆ f64        ┆   ┆            ┆           ┆            ┆            │
╞════════════╪═════╪═══════════╪════════════╪═══╪════════════╪═══════════╪════════════╪════════════╡
│ 68.95      ┆ 35  ┆ 61833.9   ┆ 256.09     ┆ … ┆ Tunisia    ┆ 3/27/2016 ┆ 0          ┆ A          │
│            ┆     ┆           ┆            ┆   ┆            ┆ 0:53      ┆            ┆            │
│ 80.23      ┆ 31  ┆ 68441.85  ┆ 193.77     ┆ … ┆ Nauru      ┆ 4/4/2016  ┆ 0          ┆ B          │
│            ┆     ┆           ┆            ┆   ┆            ┆ 1:39      ┆            ┆            │
│ 69.47      ┆ 26  ┆ 59785.94  ┆ 236.5      ┆ … ┆ San Marino ┆ 3/13/2016 ┆ 0          ┆ A          │
│            ┆     ┆           ┆            ┆   ┆            ┆ 20:35     ┆            ┆            │
│ 74.15      ┆ 29  ┆ 54806.18  ┆ 245.89     ┆ … ┆ Italy      ┆ 1/10/2016 ┆ 0          ┆ B          │
│            ┆     ┆           ┆            ┆   ┆            ┆ 2:31      ┆            ┆            │
│ …          ┆ …   ┆ …         ┆ …          ┆ … ┆ …          ┆ …         ┆ …          ┆ …          │
│ 51.3       ┆ 45  ┆ 67782.17  ┆ 134.42     ┆ … ┆ Bosnia and ┆ 4/22/2016 ┆ 1          ┆ B          │
│            ┆     ┆           ┆            ┆   ┆ Herzegovin ┆ 2:07      ┆            ┆            │
│            ┆     ┆           ┆            ┆   ┆ a          ┆           ┆            ┆            │
│ 51.63      ┆ 51  ┆ 42415.72  ┆ 120.37     ┆ … ┆ Mongolia   ┆ 2/1/2016  ┆ 1          ┆ C          │
│            ┆     ┆           ┆            ┆   ┆            ┆ 17:24     ┆            ┆            │
│ 55.55      ┆ 19  ┆ 41920.79  ┆ 187.95     ┆ … ┆ Guatemala  ┆ 3/24/2016 ┆ 0          ┆ A          │
│            ┆     ┆           ┆            ┆   ┆            ┆ 2:35      ┆            ┆            │
│ 45.01      ┆ 26  ┆ 29875.8   ┆ 178.35     ┆ … ┆ Brazil     ┆ 6/3/2016  ┆ 1          ┆ B          │
│            ┆     ┆           ┆            ┆   ┆            ┆ 21:43     ┆            ┆            │
└────────────┴─────┴───────────┴────────────┴───┴────────────┴───────────┴────────────┴────────────┘

In [12]:
import numpy as np

In [ ]:
getattr("")

In [ ]:
df.pipe()

In [1]:
list({"a":1,"b":2}.items())

[('a', 1), ('b', 2)]

In [4]:
a = pl.Series("a", [10, None, 5])

In [5]:
a < 6

shape: (3,)
Series: 'a' [bool]
[
	false
	null
	true
]

In [2]:
import numpy as np 

np.isinf(np.inf)

True

In [5]:
d= {None:1, "b":2}

In [6]:
d[None]

1

In [3]:
class a:
    def __init__(self, n):
        self.val = n

In [4]:
test = [a(1),a(2),a(3),a(4),a(5)]

for item in iter(test):
    item.val = -10

print(test[0].val)

-10